*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:whitesmoke;
}
.foot a i{
    text-decoration: none;
    padding: 10px;
    color:yellow;
    
    }
h2{
    color: grey;
}
small{
    color: grey;
}
p{
    color: olivedrab;
}
.nav{
background-color:greenyellow;
margin: 0px;
padding: 50px;
}
h1{
    font-size: 40px;
}
.nav a{
    
    text-decoration: none;
    float: right;
    margin-right: 32px;
    font-size: 20px;
}
.nav a:hover{
    color: whitesmoke;
}
.read2{
    background-color: greenyellow;
   
}


button{
    padding: 4px;
    border-radius: 15px 15px;
    background-color:white;
    text-decoration: none;
}
button a{
    
    
    color: yellowgreen;
    text-decoration: none;
    font: 10px;
    padding: 4px;
    margin: 4px;
    
}

h3{
    color: white;
}

footer{
    
    background-color: black;
      color: white;
      padding: 16px;
      
  }
  .foot a{
      
  text-decoration: none;
  padding: 10px;
  color: white;
  
  }

  a{
      color: blueviolet;
      text-decoration: none;
      font-size: 20px;
  }