*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:whitesmoke;
}

.nav{
background-color:greenyellow;
margin: 0px;
padding: 50px;
}

.nav a{
    
    text-decoration: none;
    float: right;
    margin-right: 32px;
    font-size: 20px;
}
.nav a:hover{
    color: whitesmoke;
}

.BAJAJ-FINSERV{
    background-color: chartreuse;
    border-radius: 50px 50px;
}
.TATA-STEEL{
    background-color: chartreuse;
    border-radius: 50px 50px;
}
a{
    text-decoration: grey;
}

h3{
    color: white;
}

footer{
    
    background-color:black;
      color: white;
      padding: 16px;
      
  }
  .foot a{
      
  text-decoration: none;
  padding: 10px;
  color: white;
  
  }

  a{
      color:blueviolet;
      text-decoration: none;
      font-size: 20px;
  }
  p{
      color: darkolivegreen;
  }